secrets.xlvals
kubernetes/build
kubernetes/.gradle
*.lic

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/
account.json

######################
# Sublime Text
######################
e-commerce-microservice.sublime-project
e-commerce-microservice.sublime-workspace
