# use glob syntax.
syntax: glob
.gradle/

# Build output
#src/downloads/
build/
out/
target/
bin/
test-output/
.cache
# Maven
pom.xml

# Eclipse
.metadata/
.settings/
.classpath
.project
.pydevproject
.scala_dependencies

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
*.log
s101plugin.state

# Mac
.DS_Store

# Cloud Provisioning
scenarios/cloud/src/runtime/keys/*
